:host {
  display: block;
}

table {
  width: 100%;
  background: transparent;
}

.mat-mdc-header-cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.mat-mdc-cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
